/* Farbe: #323A45 / #848484
font-family: 'Karla', sans-serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #323A45;
}

/* #################### Header ##################### */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: 0 3vw 0 4vw;
}

h1 {
    font-size: 25px;
}

h1:hover, ul li:hover {
    color: #848484;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul li {
    margin: 1em;
}

/* ################ MobileMenue ################ */

.burgerMe span {
    display: block;
    width: 4vw;
    height: 6px;
    margin: 5px;
    background-color: #323A45;
}

.position {
    display: none;
}

.mobileMenue ul li {
    list-style: none;
    margin: 1em;
}

/* ################## Section ################## */

main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10vh 10vh;
}

img {
    width: 100%;
}

main section article:first-of-type {
    grid-column: 1/4;
}

main section article div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
}

main section article div p:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.3em;
}

main section article span {
    padding: 1em;
}

main section article:hover {
    opacity: 0.5;
    transition: 0.2s ease;
}

/* #################### MediaQueries #################### */

/* Overlay-Menü,stylen, verstecken, onclick-aufrufen */

/* class erst in MediaQUeries definieren */

@media only screen and (max-width:600px) {
    .position {
        display: block;
        position: relative;
    }
    .mobileMenue {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 0;
        position: absolute;
        background: #848484;
        bottom: 70%;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        transition: 0.5s ease;
    }
    header div {
        display: none;
    }
    main section {
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 0 5vh 0 5vh;
    }
    main section article div p {
        font-size: 10px;
        font-weight: bold;
        margin-top: 0.3em;
    }
    main section article span {
        font-size: 10px;
    }
    main section article:first-of-type {
        grid-column: 1/2;
    }
}